[submodule "environment-clojure"]
	path = environment-clojure
	url = https://github.com/svo/environment-clojure
[submodule "environment-core"]
	path = environment-core
	url = https://github.com/svo/environment-core
[submodule "environment-mongodb"]
	path = environment-mongodb
	url = https://github.com/svo/environment-mongodb
[submodule "environment-selenium"]
	path = environment-selenium
	url = https://github.com/svo/environment-selenium
